Count number of frames and speed to calculate speed

In [12]:
import cv2

In [16]:
video_path = "D:/football_shots_analytics/data/clips/match_shorts/bundesliga.mp4"
cap = cv2.VideoCapture(video_path)

In [17]:
total_frames = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))

fps = cap.get(cv2.CAP_PROP_FPS)

duration = total_frames / fps

In [18]:
print(f"Liczba klatek {total_frames}")
print(f"FPS {fps}")
print(f"Czas trwania {duration}")

Liczba klatek 750
FPS 25.0
Czas trwania 30.0

## Calculate distance and metrcis

In [20]:
import pandas as pd

In [19]:
FPS = int(fps)

In [25]:
data_path = "D:/football_shots_analytics/outputs/distance_summary.csv"

In [26]:
df = pd.read_csv(data_path)

In [27]:
df.head()

   Unnamed: 0  track_id  total_distance_px  frames_tracked
0           0         0          1743.6291             654
1           1         1          2270.6592             749
2           2         2           784.5194             273
3           3         3         13365.8840             868
4           4         4           771.2260             166

In [36]:
duration_s = duration

In [37]:
df['duration_s'] = df['frames_tracked'] / FPS

In [38]:
df['avg_speed_px_s'] = df['total_distance_px']/df['duration_s']

In [39]:
df.head()

,Unnamed: 0,track_id,total_distance_px,frames_tracked,duration_s,avg_speed_px_s
0,0,0,1743.6291,654,26.16,66.652489
1,1,1,2270.6592,749,29.96,75.789693
2,2,2,784.5194,273,10.92,71.842436
3,3,3,13365.8840,868,34.72,384.962097
4,4,4,771.2260,166,6.64,116.148494