In [26]:
import pandas as pd

In [27]:
data_path = "D:/football_shots_analytics/outputs/tracks_players.csv"

In [28]:
df = pd.read_csv(data_path)

In [29]:
df.head(10)

,frame,track_id,cx,cy,x1,y1,x2,y2,confidence
0,0,0,556.5228,735.4630,533.7254,686.3998,579.3201,784.5262,0.8626
1,0,1,876.4728,678.4053,851.9286,634.3026,901.0170,722.5080,0.8573
2,0,2,345.2964,532.7322,326.4586,495.4453,364.1342,570.0192,0.7943
3,0,3,789.7399,397.2689,776.6098,368.0706,802.8701,426.4672,0.6187
4,0,4,1330.5192,481.5244,1309.2797,445.3984,1351.7587,517.6505,0.8314
5,0,5,1406.6116,858.8718,1369.0548,814.1021,1444.1683,903.6414,0.8426
6,0,6,1592.3397,653.3976,1570.5789,610.6716,1614.1005,696.1235,0.8392
7,0,7,888.8262,392.2622,872.3297,362.0067,905.3227,422.5176,0.8062
8,0,4,1292.5857,428.4250,1276.7467,393.0129,1308.4247,463.8371,0.7864
9,0,8,376.8351,772.6895,359.1696,720.3539,394.5005,825.0251,0.8311

In [30]:
#Checking number of nan values
df.isna().sum()

frame         0
track_id      0
cx            0
cy            0
x1            0
y1            0
x2            0
y2            0
confidence    0
dtype: int64

In [31]:
df = df.sort_values(['track_id', 'frame' ], ascending=[True, True]).reset_index(drop=True)

In [32]:
df.head(10)

,frame,track_id,cx,cy,x1,y1,x2,y2,confidence
0,0,0,556.5228,735.4630,533.7254,686.3998,579.3201,784.5262,0.8626
1,1,0,556.4510,735.4602,533.6316,686.4365,579.2705,784.4839,0.8643
2,2,0,557.7402,736.8408,535.4803,687.6166,580.0000,786.0651,0.8572
3,3,0,558.1053,737.0540,536.6774,688.5511,579.5332,785.5569,0.8763
4,4,0,558.1914,737.3020,536.3725,688.5899,580.0104,786.0141,0.8599
5,5,0,558.3316,737.4767,537.9752,688.8826,578.6880,786.0707,0.8726
6,6,0,558.5684,737.8793,539.2696,689.7677,577.8671,785.9909,0.8822
7,7,0,559.2392,737.8455,540.4005,689.8083,578.0780,785.8827,0.8812
8,8,0,559.5272,737.8800,540.8590,690.8447,578.1954,784.9152,0.8871
9,9,0,559.6930,738.3309,540.9018,691.4361,578.4842,785.2256,0.8893

In [33]:
df.to_csv("D:/football_shots_analytics/outputs/tracks_players_sort.csv", index=False)