In [41]:
from enum import unique

import pandas as pd
import math

In [42]:
data_path = "D:/football_shots_analytics/outputs/tracks_players_sort.csv"

In [43]:
df = pd.read_csv(data_path)

In [44]:
df.head()

,frame,track_id,cx,cy,x1,y1,x2,y2,confidence
0,0,0,556.5228,735.4630,533.7254,686.3998,579.3201,784.5262,0.8626
1,1,0,556.4510,735.4602,533.6316,686.4365,579.2705,784.4839,0.8643
2,2,0,557.7402,736.8408,535.4803,687.6166,580.0000,786.0651,0.8572
3,3,0,558.1053,737.0540,536.6774,688.5511,579.5332,785.5569,0.8763
4,4,0,558.1914,737.3020,536.3725,688.5899,580.0104,786.0141,0.8599

In [45]:
distance_summary = []
df['cx']= df['cx'].astype(float)
df['cy'] = df['cy'].astype(float)

In [25]:
df = df.sort_values(['track_id', 'frame', 'confidence'], ascending=[True, True, False])
df = df.drop_duplicates(subset=['track_id', 'frame'], keep='first')
df = df.reset_index(drop=True)

In [46]:
for track_id in df['track_id'].unique():
    subset = df[df['track_id'] == track_id].sort_values('frame')

    total_distance = 0
    for i in range(1, len(subset)):
        x1, y1 = subset.iloc[i -1][['cx', 'cy']]
        x2, y2 = subset.iloc[i][['cx', 'cy']]
        dx = x2 - x1
        dy = y2 - y1
        dist = math.sqrt(dx**2 + dy**2)
        total_distance += dist

    distance_summary.append({
        'track_id': track_id,
        'total_distance_px': total_distance,
        'frames_tracked': len(subset)
    })

In [47]:
print(distance_summary[:5])

[{'track_id': np.int64(0), 'total_distance_px': 1743.6290999999999, 'frames_tracked': 654}, {'track_id': np.int64(1), 'total_distance_px': 2270.6591999999982, 'frames_tracked': 749}, {'track_id': np.int64(2), 'total_distance_px': 784.5193999999997, 'frames_tracked': 273}, {'track_id': np.int64(3), 'total_distance_px': 13365.884000000002, 'frames_tracked': 868}, {'track_id': np.int64(4), 'total_distance_px': 771.2260000000001, 'frames_tracked': 166}]

In [48]:
df_distance_summary = pd.DataFrame(distance_summary)

In [39]:
distance_summary.head(10)

   track_id  total_distance_px  frames_tracked
0         0        1743.629422             654
1         1        2270.659444             749
2         2         784.519630             273
3         3       13365.884401             868
4         4         771.225411             166
5         5        2715.894121             732
6         6        2301.821777             294
7         7        1719.435568             622
8         8         939.833008             134
9         9        3940.842898             752

In [49]:
df_distance_summary.to_csv("D:/football_shots_analytics/outputs/distance_summary.csv")