In [1]:
from itertools import count

import pandas as pd

In [29]:
import math

In [4]:
df = pd.read_csv("D:/football_shots_analytics/outputs/detections.csv")

In [5]:
df.head(10)

   frame   class         x1        y1         x2        y2  confidence
0      0  person   533.7254  686.3998   579.3201  784.5262      0.8626
1      0  person   851.9286  634.3026   901.0170  722.5080      0.8573
2      0  person   994.6577  454.4098  1027.5846  525.7167      0.8546
3      0  person  1369.0548  814.1021  1444.1683  903.6414      0.8426
4      0  person  1570.5789  610.6716  1614.1005  696.1235      0.8392
5      0  person  1309.2797  445.3984  1351.7587  517.6505      0.8314
6      0  person   359.1696  720.3539   394.5005  825.0251      0.8311
7      0  person   872.3297  362.0067   905.3227  422.5176      0.8062
8      0  person   326.4586  495.4453   364.1342  570.0192      0.7943
9      0  person  1276.7467  393.0129  1308.4247  463.8371      0.7864

In [6]:
uniques_frame = df['frame'].unique()

In [7]:
print("Liczba unikalnych ramek", len(uniques_frame))
print("Pierwszych 10 ramek", uniques_frame[:10])
print("Ostatnie 10 ramek ", uniques_frame[-10:])

Liczba unikalnych ramek 750
Pierwszych 10 ramek [0 1 2 3 4 5 6 7 8 9]
Ostatnie 10 ramek  [740 741 742 743 744 745 746 747 748 749]

In [8]:
print("Zakres klatek: ", df['frame'].min(), "--", df['frame'].max())

Zakres klatek:  0 -- 749

In [9]:
detections_per_frame = df.groupby('frame')['class'].count().mean()
print("Średnia liczba detekcji na ramke: ", detections_per_frame)

Średnia liczba detekcji na ramke:  21.550666666666668

# Create player detections csv

In [10]:
df = df.sort_values(by=['frame']).reset_index(drop=True)

In [11]:
df_players = df[df['class'] == 'person']

In [13]:
detections_tracking = df[['frame', 'x1', 'y1', 'x2', 'y2', 'confidence']]

In [15]:
detections_tracking.to_csv("D:/football_shots_analytics/outputs/detections_players_for_tracking.csv", index=False)

In [16]:
#sprawdzenie poprawności zapisanych danych w nowej csv
df = pd.read_csv("D:/football_shots_analytics/outputs/detections_players_for_tracking.csv")

In [17]:
df.head(10)

   frame         x1        y1         x2         y2  confidence
0      0   533.7254  686.3998   579.3201   784.5262      0.8626
1      0   851.9286  634.3026   901.0170   722.5080      0.8573
2      0   776.6098  368.0706   802.8701   426.4672      0.6187
3      0   994.6577  454.4098  1027.5846   525.7167      0.8546
4      0  1033.3108  931.2722  1075.2504  1053.7090      0.5019
5      0  1151.0299  728.4727  1198.9360   796.4489      0.4950
6      0  1186.3846  849.4204  1204.6278   866.3518      0.6069
7      0  1123.6646  707.4123  1178.2966   793.1924      0.6238
8      0   775.2947  416.3584   805.8869   492.4030      0.7214
9      0  1157.8722  356.2539  1187.4165   412.3698      0.7395

# Create players tracking with ByteTrack

In [18]:
df = pd.read_csv("D:/football_shots_analytics/outputs/detections_players_for_tracking.csv")

In [19]:
df.head(10)

   frame         x1        y1         x2         y2  confidence
0      0   533.7254  686.3998   579.3201   784.5262      0.8626
1      0   851.9286  634.3026   901.0170   722.5080      0.8573
2      0   776.6098  368.0706   802.8701   426.4672      0.6187
3      0   994.6577  454.4098  1027.5846   525.7167      0.8546
4      0  1033.3108  931.2722  1075.2504  1053.7090      0.5019
5      0  1151.0299  728.4727  1198.9360   796.4489      0.4950
6      0  1186.3846  849.4204  1204.6278   866.3518      0.6069
7      0  1123.6646  707.4123  1178.2966   793.1924      0.6238
8      0   775.2947  416.3584   805.8869   492.4030      0.7214
9      0  1157.8722  356.2539  1187.4165   412.3698      0.7395

In [20]:
df = df.sort_values(by=['frame']).reset_index(drop=True)

In [25]:
df['cx'] = round((df['x1'] + df['x2']) / 2, 4)
df['cy'] = round((df['y1'] + df['y2']) / 2, 4)

In [26]:
df.head(10)

,frame,x1,y1,x2,y2,confidence,cx,cy
0,0,533.7254,686.3998,579.3201,784.5262,0.8626,556.5228,735.4630
1,0,851.9286,634.3026,901.0170,722.5080,0.8573,876.4728,678.4053
2,0,326.4586,495.4453,364.1342,570.0192,0.7943,345.2964,532.7322
3,0,776.6098,368.0706,802.8701,426.4672,0.6187,789.7399,397.2689
4,0,1309.2797,445.3984,1351.7587,517.6505,0.8314,1330.5192,481.5244
5,0,1369.0548,814.1021,1444.1683,903.6414,0.8426,1406.6116,858.8718
6,0,1570.5789,610.6716,1614.1005,696.1235,0.8392,1592.3397,653.3976
7,0,872.3297,362.0067,905.3227,422.5176,0.8062,888.8262,392.2622
8,0,1276.7467,393.0129,1308.4247,463.8371,0.7864,1292.5857,428.4250
9,0,359.1696,720.3539,394.5005,825.0251,0.8311,376.8351,772.6895

In [38]:
active_tracker = {}
next_track_id = 0
distance_threshold = 70
track_result = []

In [39]:
def find_closest_track(cx, cy, active_tracker):
    nearest_id = None
    nearest_dist = float('inf')
    for track_id, info in active_tracker.items():
        dist = math.sqrt((cx - info['cx']) ** 2 + (cy - info['cy']) ** 2)
        if dist < nearest_dist:
            nearest_dist = dist
            nearest_id = track_id
    return nearest_id, nearest_dist

In [41]:
for frame in sorted(df['frame'].unique()):
    current_detections = df[df['frame'] == frame]
    for _, detection in current_detections.iterrows():
        cx, cy = detection['cx'], detection['cy']
        nearest_id, nearest_distance = find_closest_track(cx, cy, active_tracker)

        if nearest_distance < distance_threshold:
            track_id = nearest_id
            active_tracker[track_id]['cx'] = cx
            active_tracker[track_id]['cy'] = cy
            active_tracker[track_id]['last_frame'] = frame
        else:
            track_id = next_track_id
            active_tracker[track_id] = {'cx': cx, 'cy': cy, 'last_frame': frame}
            next_track_id += 1

        track_result.append({
            'frame': frame,
            'track_id': track_id,
            'cx': cx,
            'cy': cy,
            'x1': detection['x1'],
            'y1': detection['y1'],
            'x2': detection['x2'],
            'y2': detection['y2'],
            'confidence': detection['confidence'],
        } )

    for track_id in list(active_tracker.keys()):
        if frame - active_tracker[track_id]['last_frame'] > 10:
            del active_tracker[track_id]

In [42]:
track_df = pd.DataFrame(track_result)

In [43]:
track_df.head(10)

,frame,track_id,cx,cy,x1,y1,x2,y2,confidence
0,0,0,556.5228,735.4630,533.7254,686.3998,579.3201,784.5262,0.8626
1,0,1,876.4728,678.4053,851.9286,634.3026,901.0170,722.5080,0.8573
2,0,2,345.2964,532.7322,326.4586,495.4453,364.1342,570.0192,0.7943
3,0,3,789.7399,397.2689,776.6098,368.0706,802.8701,426.4672,0.6187
4,0,4,1330.5192,481.5244,1309.2797,445.3984,1351.7587,517.6505,0.8314
5,0,5,1406.6116,858.8718,1369.0548,814.1021,1444.1683,903.6414,0.8426
6,0,6,1592.3397,653.3976,1570.5789,610.6716,1614.1005,696.1235,0.8392
7,0,7,888.8262,392.2622,872.3297,362.0067,905.3227,422.5176,0.8062
8,0,4,1292.5857,428.4250,1276.7467,393.0129,1308.4247,463.8371,0.7864
9,0,8,376.8351,772.6895,359.1696,720.3539,394.5005,825.0251,0.8311

In [44]:
track_df.to_csv("D:/football_shots_analytics/outputs/tracks_players.csv", index=False)

In [47]:
unique_tracks = track_df['track_id'].unique()

In [48]:
unique_tracks

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80])